main {
    height: 70%;
    overflow: scroll;
}

button {
    font-size: 16px;
    cursor: pointer;
}

.mainInfoWrapper {
    flex-grow: 2;
}

.auth {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.authLink {
    border: 1px black;
    padding: 5px;
    color: black;
    text-decoration: none;
}

.imageButton {
    padding: 10px 20px;
}

main {
    padding: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    overflow: scroll;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.camera {
    display: none;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.video {
    width: 320px;
    height: auto;
    border: 1px solid #333;
}

.error {
    color: red;
}

.hide {
    display: none;
}

.green {
    background-color: green;
}

.red {
    background-color: #bd5959;
}